header
  width: 135px
  background: white
  padding: 30px 0 

  .logo
   +hide-text
   background: 
    image: url(/img/free-eagle-logo.jpg)
    repeat: no-repeat
    position: center
    size: cover
   height: 80px