.home-section
	section.design
		padding-top: 0
		.portf-1
			background: 
				image: url('../img/light8.png')
			transition: all .3 ease-in-out
		.portf-2
			background:
				image: url('../img/dark5.png')
			transition: background .3 ease-in-out
		.col-1
			display: flex
			flex-direction: column
			align-items: center

			.design-img-link
				display: block
				width: calc(50% - 10px)
				float: left
				margin: 5px
				img 
					// transition: transform 1 ease-in-out
					width: 100%
					border: 1px solid lightgrey
					box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4)
				&:hover 
					transform: scale(1.1)
			.cf 
				clear: both
				margin-bottom: 20px

			.home-lead
				font-size: 22px 
				line-height: 2
				text-align: center
				&.dark
					color: black
				&.light
					color: #EBEBEB

			.home-cta
				margin-bottom: 40px
				&.light
					background:#EBEBEB
					color:  #343436
				&.dark
					background: #343436
					color: #EBEBEB


		// @media (max-width: 640px)
