.home-section
	section.youtube
		background: 
			image: url(../img/light6.png)
			repeat: no-repeat
			position: center
			size: cover
		color: white 
		text-align: center

		.col-1
			width: 100%
			height: 300px
			display: flex
			flex-direction: column
			justify-content: center
			position: relative
			@media (max-width: 640px)
				display: block
				margin: 0 
				height: auto

			.home-cta
				background: #b31217
				color: white
				margin: 0 40px
				@media (max-width: 640px)
					padding: 13px 10px
					margin: 0


			.video-strip
				background:
					image: url(../img/kolaz.jpg)
					size: 40%
					repeat: repeat-y
					position: center 0px
				width: 100%
				height: calc(100% + 100px)
				margin: -50px 0
				top: 0
				position: absolute
				@media(max-width: 640px)
					display: none


				// background: pink

