.home-section
	section.youtube
		background: 
			image: url(../img/youtube-red.jpg)
			repeat: no-repeat
			position: center bottom
			size: cover
		color: white 
		text-align: center

		.col-1
			width: 100%
			height: 350px
			display: flex
			flex-direction: column
			justify-content: center
			position: relative
			@media (max-width: 640px)
				display: block
				margin: 0 
				height: auto

			.home-lead
				color: #fff
				line-height: 2
				font:
					size: 20px
				text-shadow: 2px 2px rgba(0,0,0, .5)

			.home-cta
				color: #b31217
				margin: 40px 40px 0px 40px

			.video-strip
				background:
					image: url(../img/kolaz.jpg)
					size: 40%
					repeat: repeat-y
					position: center 0px
				width: 100%
				height: calc(100% + 100px)
				margin: -50px 0
				top: 0
				position: absolute
				@media(max-width: 640px)
					display: none


				// background: pink

