.home-section
	section.youtube
		background: 
			image: url(../img/wood_yt.jpg)
			repeat: no-repeat
			position: center
			size: cover
		color: white 
		text-align: center
		.col-1
			// background: lightblue
			// position: relative
			.home-lead
				padding: 40px
				// background: rgba(0, 0, 0, 0.3)
				line-height: 1.6
			.button
				// background-colo
				box-shadow: 0px 20px 10px -10px rgba(0,0,0,0.7)
				&:hover
					box-shadow: 0px 37px 20px -13px rgba(0,0,0,0.5)
					transform: translate(0px, -10px)
		
			.video-strip
				// position: absolute
				background:
					image: url(../img/kolaz.jpg)
					size: 40%
					repeat: repeat-y
					position: center 0px
				// margin: -50px 0
				// height: calc(100% + 100px)
				width: 100%
				height: calc(100% + 100px)
				margin: -50px 0
				top: 0
				// background: pink

