doctype html
html
	include 1-basics/head.pug
	body
		.home-wrap
			include 2-sections/header.pug
			.home-section
				include 2-sections/about.pug
				include 2-sections/youtube.pug
				include 2-sections/mentoring.pug
				include 2-sections/articles.pug
				include 2-sections/columns.pug


		include 1-basics/foot.pug