section
	.flex.flex--center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consequatur, quod perspiciatis aliquid praesentium vitae sapiente veniam dolores sit error repudiandae voluptatem consectetur, perferendis recusandae maiores modi neque provident. Sequi.

		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptates ipsam delectus magnam assumenda inventore error enim ad exercitationem laboriosam at aperiam, ab quaerat voluptatem officiis tenetur similique, deleniti recusandae. 

section
	.flex.flex--space-around
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consequatur, quod perspiciatis aliquid praesentium vitae sapiente veniam dolores sit error repudiandae voluptatem consectetur, perferendis recusandae maiores modi neque provident. Sequi.

		.col-1.order-first
			p  CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptates ipsam delectus magnam assumenda inventore error enim ad exercitationem laboriosam at aperiam, ab quaerat voluptatem officiis tenetur similique, deleniti recusandae. 

section
	.flex.flex--center
		.col-2
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consequatur, quod perspiciatis aliquid praesentium vitae sapiente veniam dolores sit error repudiandae voluptatem consectetur, perferendis recusandae maiores modi neque provident. Sequi.

section
	.flex.flex--center
		.col-50.flex.flex--center
			.col-1
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consequatur, quod perspiciatis aliquid praesentium vitae sapiente veniam dolores sit error repudiandae voluptatem consectetur, perferendis recusandae maiores modi neque provident. Sequi.
		.col-50
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, delectus quos nesciunt explicabo labore deleniti aliquid hic, mollitia eaque! Qui, distinctio illo! Libero cumque officiis expedita eveniet modi nostrum officia!
