section.about
 .flex
  .col-1
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo consequatur, quod perspiciatis aliquid praesentium vitae sapiente veniam dolores sit error repudiandae voluptatem consectetur, perferendis recusandae maiores modi neque provident. Sequi.

  .col-1
   p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum voluptates ipsam delectus magnam assumenda inventore error enim ad exercitationem laboriosam at aperiam, ab quaerat voluptatem officiis tenetur similique, deleniti recusandae. 
