section.form
	.flex.flex--center
		.col-2
			p.home-lead  ...Sending email notes...

			.notes-signup-box
				//- Inserting html code into pug - example
				|<form>
				|<div class="form-wrap">
				|<div class="field-group">
				|<label for="name">Name</label>
				|<input type="text" name="name">
				|</div>
				|<div class="field-group">
				|<label for="email">Email</label>
				|<input type="text" name="email">
				|</div>
				|<button class="form-btn">Subscribe</button>
				|</div>
				|</form> 

	.flex.flex--center
		.col-1
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.  Lorem ipsum dolor sit amet, consectetur.
		
		.col-1
			p  Lorem ipsum dolor sit amet.
			ul
				li: a(href="#")  Lorem ipsum dolor sit amet.
				li: a(href="#")  Lorem ipsum dolor sit amet.
				li: a(href="#")  Lorem ipsum dolor sit amet.


