header
 .header-position
  h1.logo Logo Name
  nav.site-nav
   ul
    li: a(href="#about") About
    li: a(href="#YoutTube") YoutTube
    li: a(href="#Mentoring") Mentoring
    li: a(href="#Articles") Articles
    li: a(href="#Vine") Vine
    li: a(href="#Design") Design
    li: a(href="#Notes") Notes
    li: a(href="#Contact") Contact

  a(href="#").email-link +email me

  .mobile-nav-toggle: span