section.youtube
	.flex.flex--center
		.col-1
			.video-strip  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatem mollitia reiciendis similique dolor illum eaque quisquam inventore, quaerat minima libero, possimus excepturi! Reiciendis debitis, quas recusandae ducimus pariatur itaque.

		.col-1.order-first
			p.home-lead.outdented  ...Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			a(href="").button.home-cta Watch on Youtube